[*]
# charset = utf-8
# end_of_line = crlf
# indent_size = 4
# indent_style = space
# insert_final_newline = false
# max_line_length = 120
# tab_width = 4

[{*.yml,*.yaml}]
# indent_size = 2
db_host = remotemysql.com
db_port = 3306
db_name = 3DNd13uNO1
db_user = 3DNd13uNO1
db_password = 3DNd13uNO1
